ion-header {
  background-color: #000000; /* Color de fondo negro */
}

ion-toolbar {
  --background: #000000; /* Asegúrate de que el fondo de la toolbar sea negro */
  --color: #f9c336; /* Color del texto de la toolbar */
}

ion-content {
  --background: linear-gradient(to bottom, #001c54 0%, #000000 100%);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
}

.custom-button {
  width: 200px; /* Ancho fijo para los botones */
  margin: 10px auto; /* Centra los botones y añade margen */
  --background: #001c54; /* Color de fondo azul oscuro */
  --color: #f9c336; /* Color del texto amarillo */
  --border-radius: 12px; /* Bordes redondeados */
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para el botón */
}

#text-container {
  margin-top: 40px; /* Ajusta este valor para mover el texto más abajo */
}

#text-container a {
  color: #f9c336; /* Color del enlace */
  text-decoration: none;
}

#logo-container {
  text-align: center;
  margin-bottom: 40px; /* Espacio entre el logo y los campos */
}

#logo-container img {
  width: 120px; /* Ajusta el tamaño del logo según sea necesario */
}

.register-link {
  color: #ffffff; /* Color de la letra blanca */
  text-align: center; /* Centra el texto */
  margin-top: 10px; /* Espacio superior del texto */
}

.register-link a {
  color: #f9c336; /* Color del enlace amarillo */
  text-decoration: none; /* Sin subrayado */
}

ion-item {
  --background: #001c54; /* Color de fondo azul oscuro para los contenedores */
  --color: #ffffff; /* Color del texto blanco */
  --border-radius: 8px; /* Bordes redondeados */
  margin: 10px 0; /* Margen superior e inferior */
  padding: 10px; /* Espaciado interno */
}

ion-label {
  color: #f9c336; /* Color del texto de las etiquetas en amarillo */
}

ion-input {
  color: #ffffff; /* Color del texto de entrada en blanco */
  --placeholder-color: #cccccc; /* Color del texto de marcador en gris */
}
