/* playlist-1.page.scss */

ion-content {
    --background: linear-gradient(to bottom, #001c54, #000000); /* Degradado azul oscuro a negro */
    color: #f9c336; /* Color de texto amarillo */
    padding: 20px; /* Espacio alrededor del contenido */
  }
  
  #container {
    text-align: center;
  }
  
  .playlist-header {
    margin-bottom: 20px; /* Espacio debajo del encabezado */
  }
  
  .playlist-image {
    width: 150px; /* Ancho de la imagen */
    height: 150px; /* Alto de la imagen */
    border-radius: 10px; /* Bordes redondeados para la imagen */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); /* Sombra para la imagen */
  }
  
  .playlist-title {
    color: #f9c336; /* Color amarillo para el título */
    font-size: 24px; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    margin-top: 10px; /* Espacio arriba del título */
  }
  
  .song-list {
    margin-top: 20px; /* Espacio arriba de la lista de canciones */
  }
  
  .song-item {
    background: rgba(249, 195, 54, 0.1); /* Fondo semitransparente amarillo */
    border-radius: 10px; /* Bordes redondeados */
    margin: 10px 0; /* Espaciado vertical */
    padding: 15px; /* Espaciado interno */
    display: flex;
    justify-content: space-between; /* Alinear los elementos */
    align-items: center; /* Centrar verticalmente */
    transition: transform 0.3s; /* Transición suave */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
  }
  
  .song-item:hover {
    transform: scale(1.02); /* Efecto de aumento al pasar el ratón */
  }
  
  .song-title {
    color: #f9c336; /* Color amarillo para el título de la canción */
    font-size: 18px; /* Tamaño de la fuente */
  }
  
  .song-duration {
    color: #ccc; /* Color gris para la duración */
    font-size: 16px; /* Tamaño de la fuente */
  }
  
  .custom-button {
    width: 200px;
    margin: 20px auto; /* Espaciado en la parte superior e inferior */
    --background: #f9c336; /* Color de fondo amarillo */
    --color: #001c54; /* Color de texto azul oscuro */
    --border-radius: 12px;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para el botón */
    transition: background 0.3s; /* Transición suave */
  }
  
  .custom-button:hover {
    --background: #001c54; /* Cambia a azul oscuro al pasar el ratón */
    --color: #f9c336; /* Cambia el color del texto al pasar el ratón */
  }
  
  ion-header {
    background-color: #000000; /* Color de fondo negro */
  }
  
  ion-toolbar {
    --background: #000000; /* Fondo de la barra de herramientas negro */
    --color: #f9c336; /* Color del texto amarillo */
  }
  